<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users | Landing Page</title>
  </head>
  <body>
    <h1>Users | Landing Page</h1>
    <a href="/api/users">API</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/users">Users</a>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
      eveniet, corporis aperiam deserunt sequi magni quidem tempore nesciunt
      minima dolorum, similique id dolor optio eum. Excepturi ea modi beatae
      harum neque qui, recusandae quos. Cupiditate et placeat in assumenda sunt
      aut voluptates fugit aliquid numquam debitis eos omnis nostrum repellat
      veritatis ipsa dicta quod iusto, atque earum dolorum, nulla laborum quia!
      Perspiciatis itaque aperiam unde. Rem saepe incidunt esse vel nobis
      laudantium atque consequatur provident eveniet distinctio cum ut nesciunt,
      enim praesentium at quam optio quia autem minima omnis sequi! Cupiditate
      sit quaerat distinctio nihil dolorem sequi, doloremque adipisci saepe?
    </p>
  </body>
</html>
